* {
    font-family: 'Ubuntu Mono', monospace;
}

html,body {
    margin: 0;
    background-image: url('61115df3-81b0-4da7-b264-d89573de1e82.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    background-blend-mode: hard-light;
    -webkit-animation: hue-rotate 2s linear infinite;
    animation: hue-rotate 2s linear infinite;
}

.allah {
    text-align: center;
    width: 100%;
    color: blue;
    text-shadow: 8px 8px 2px rgb(255, 0, 0), 16px 16px 2px rgb(255, 217, 0), 24px 24px 2px rgb(9, 255, 0);
}

.allah h1 {
    font-size: 8rem;
}

.allah p {
    font-size: 4rem;
    font-weight: 800;
}

@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}